# Default ignored files
/shelf/
/workspace.xml
node_modules
# Datasource local storage ignored files
/../../../../../../../../../:\Users\chris\Desktop\Programming\Projects\Project 2\react-league\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
